$black-color:#000000;
$black-color-hover: #515151;
$pink-color: #D22043;
// $pink-color: #000;
$pink-color-hover: #FF7590;
$title-color: #333333;
$border-color: #333333;
$disabled-color: #333333;
$footer-color: #333333;
$background-color-gray: #F7F7F7;
$background-color-white: #FFFFFF;
$footer-text-color: #FFFFFF;