.contacts {
    min-height: 653px;
    margin-top: 60px;
    padding-bottom: 60px;
    .address_map {
        display: none;
    }
    .address_descr {
        display: none;
    }
    &__wrapper {
        display: flex;
        width: 1160px;
        min-height: 533px;
        border-left: 1px solid $black-color;
        border-top: 1px solid $black-color;
        box-shadow: 0px 0px 32px rgba(168, 168, 168, 0.6);
    }
    &__block {
        width: 50%;
        background-color: $background-color-white;
        padding: 30px;
        
    }
    
    &__map {
        width: calc(50% + 1px);
    }
    &__block, &__map {
        border-right: 1px solid $black-color;
        border-bottom: 1px solid $black-color;
    }
    &__item {
        margin-bottom: 30px;
        &_wrapper {
            margin-top: 52px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .links__wrapper {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
    }
    &__title {
        line-height: 36px;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        color: $black-color;
        margin-top: 5px;
        line-height: 36px;
        &:hover {
            color: $pink-color;
        }
    }
    &__descr {
        margin-top: 10px;
        p, strong {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }
        strong {
            font-weight: 700;
        }
    }
}