.questions {
    background-color: $background-color-gray;
    min-height: 588px;
    padding-top: 54px;
    padding-bottom: 60px;
    &__title {
        text-align: left;
    }
    &__accordion {
        margin-top: 45px;
        transition: all 0.5s ease;
        border: 1px solid $black-color;
        border-bottom: none;
        box-shadow: 0px 0px 32px rgba(168, 168, 168, 0.6);
        &__title {
            padding-right: 40px;
            line-height: 24px;
            &:hover {
                color: $pink-color;
                cursor: pointer;
            }
        }
        &__item {
            position: relative;
            padding: 30px;
            background-color: $background-color-white;
            border-bottom: 1px solid $black-color;
            transition: height 0.5s;
            overflow: hidden;
            &:before, &:after {
                transform-origin: center;
                background-color: $pink-color;
                content: '';
                top: 46px;
                right: 19px;
                position: absolute;
                width: 23px;
                height: 2px;
                transition: all 0.5s;
            }
            &:before {
                transform: translate(-50%, -50%);
               
            }
            &:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
            .questions__accordion__descr {
                // overflow: hidden;
                max-height: 0px;
                opacity: 0;
                transform: scale(0.8) translateY(-10px);
                transition: all 0.5s;
            }
            &_active {
                .questions__accordion__descr {
                    max-height: 1000px;
                    opacity: 1;
                    transform: scale(1) translateY(0px);
                    margin-top: 30px;
                }
                &:before {         
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
        &__descr, &__descr p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
}
