.title {
    color: $title-color;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    &_promo {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: $title-color;
    }
}